In [93]:
import pandas as pd
import numpy as np
import re

print("âœ… Jupyter is working correctly!")

âœ… Jupyter is working correctly!

In [70]:
df = pd.read_csv("../data/netflix_titles.csv")

In [71]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [72]:
df['date_added'].head()

0    September 25, 2021
1    September 24, 2021
2    September 24, 2021
3    September 24, 2021
4    September 24, 2021
Name: date_added, dtype: object

In [73]:
df.shape

(8807, 12)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [75]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [76]:
df.describe(include = 'all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN


### ðŸ§  Observations from Dataset Overview

1. **Shape of Dataset:**  
   - Total **8807 rows and 12 columns** â€” a moderate-sized dataset.

2. **Data Types Summary:**  
   - Includes both **categorical** (`type`, `title`, `director`, `country`, `rating`, `listed_in`, etc.) and **numeric** (`release_year`) features.  
   - `release_year` is clean and numeric â€” useful for time-based trend analysis.

3. **Unique Value Insights:**  
   - `type` â†’ 2 unique values â†’ **Movies** and **TV Shows**  
   - `country` â†’ 748 unique countries â†’ shows global diversity  
   - `rating` â†’ 17 unique content ratings (e.g., TV-MA, PG, R)  
   - `listed_in` â†’ 514 unique genre/category combinations â€” wide content variety  

4. **Most Frequent (Top) Values:**  
   - **Type:** Movie (6,131 entries)  
   - **Country:** United States (2,818 titles)  
   - **Rating:** TV-MA (3,207 entries) â†’ mostly adult-oriented content  
   - **Director:** Rajiv Chilaka (19 titles)  
   - **Cast:** David Attenborough (19 titles)

5. **Missing Values (indirectly seen):**  
   - Columns like `director`, `cast`, and `country` have missing entries.  
   - Example: `director` count = 6,173 â†’ roughly **30% missing** values.  
   - These will need cleaning or imputation later.

6. **Release Year Summary:**  
   - Range: **1925 â€“ 2021** (â‰ˆ96 years)  
   - Mean â‰ˆ **2014**, showing most Netflix content is modern.

7. **Duration Field:**  
   - 220 unique values, mixed with *minutes* and *seasons*.  
   - Will need to separate **Movies vs TV Shows** and clean this field.

8. **Description:**  
   - No missing values â†’ could be used later for **text/NLP-based analysis**.

---

### ðŸ“‹ Early Insights / Next Steps
- Dataset is **movie-dominant** and focuses mostly on **modern (post-2010) content**.  
- **Missing values** in key columns â€” will address in data cleaning phase.  
- Need to split analysis by **Type** (`Movie` vs `TV Show`).  
- `listed_in` column will help in exploring **popular genres/categories** by country or type.

---

ðŸ§© *Next Step:* Move to **Phase 3 â€” Data Cleaning & Preparation**,  
where weâ€™ll handle nulls, duplicates, and fix inconsistent fields like `duration`.

In [77]:
print(f"Before removing duplicates: {df.shape}")
df.drop_duplicates(inplace=True)
print(f"After removing duplicates: {df.shape}")

Before removing duplicates: (8807, 12)
After removing duplicates: (8807, 12)

In [78]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [90]:
for col in ['rating', 'duration', 'director', 'cast', 'country']:
    df[col] = df[col].fillna("unknown")
df['date_added'] = df['date_added'].fillna(df['date_added'].mode()[0])

In [91]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [94]:
print("Initial dtype:", df['date_added'].dtype)
print("Sample values:")
display(df['date_added'].head(10))

Initial dtype: object
Sample values:

0    September 25, 2021
1    September 24, 2021
2    September 24, 2021
3    September 24, 2021
4    September 24, 2021
5    September 24, 2021
6    September 24, 2021
7    September 24, 2021
8    September 24, 2021
9    September 24, 2021
Name: date_added, dtype: object

In [99]:
df['date_added_raw'] = df['date_added']
df['date_added'] = df['date_added'].astype(str).str.strip()
df.loc[df['date_added'].isin(['', 'nan', 'None', 'NaN', 'NoneType']), 'date_added'] = np.nan

In [102]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

In [103]:
num_failed = df['date_added_parsed'].isna().sum()
print(f"Parsed OK: {df.shape[0] - num_failed}, Failed/NaT: {num_failed}")

Parsed OK: 8807, Failed/NaT: 0

In [105]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
df['year_added'] = df['date_added'].dt.year
df['month_added'] = df['date_added'].dt.month

print("Final dtype:", df['date_added'].dtype)
print("Number of NaT in date_added:", df['date_added'].isna().sum())
df[['title', 'date_added', 'year_added', 'month_added']]

Final dtype: datetime64[ns]
Number of NaT in date_added: 0

                      title date_added  year_added  month_added
0      Dick Johnson Is Dead 2021-09-25        2021            9
1             Blood & Water 2021-09-24        2021            9
2                 Ganglands 2021-09-24        2021            9
3     Jailbirds New Orleans 2021-09-24        2021            9
4              Kota Factory 2021-09-24        2021            9
...                     ...        ...         ...          ...
8802                 Zodiac 2019-11-20        2019           11
8803            Zombie Dumb 2019-07-01        2019            7
8804             Zombieland 2019-11-01        2019           11
8805                   Zoom 2020-01-11        2020            1
8806                 Zubaan 2019-03-02        2019            3

[8807 rows x 4 columns]

In [106]:
#text_cols = ['title', 'director', 'cast', 'country', 'rating', 'listed_in']

#for col in text_cols:
 #   df[col] = df[col].astype(str).str.strip().str.title()

In [109]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_added_raw,date_added_parsed,year_added,month_added
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,2021-09-25,2020,Pg-13,90 min,Documentaries,"As her father nears the end of his life, filmm...","September 25, 2021",2021-09-25,2021,9
1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,Tv-Ma,2 Seasons,"International Tv Shows, Tv Dramas, Tv Mysteries","After crossing paths at a party, a Cape Town t...","September 24, 2021",2021-09-24,2021,9
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,2021-09-24,2021,Tv-Ma,1 Season,"Crime Tv Shows, International Tv Shows, Tv Act...",To protect his family from a powerful drug lor...,"September 24, 2021",2021-09-24,2021,9
3,s4,TV Show,Jailbirds New Orleans,Unknown,Unknown,Unknown,2021-09-24,2021,Tv-Ma,1 Season,"Docuseries, Reality Tv","Feuds, flirtations and toilet talk go down amo...","September 24, 2021",2021-09-24,2021,9
4,s5,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,Tv-Ma,2 Seasons,"International Tv Shows, Romantic Tv Shows, Tv ...",In a city of coaching centers known to train I...,"September 24, 2021",2021-09-24,2021,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...","November 20, 2019",2019-11-20,2019,11
8803,s8804,TV Show,Zombie Dumb,Unknown,Unknown,Unknown,2019-07-01,2018,Tv-Y7,2 Seasons,"Kids' Tv, Korean Tv Shows, Tv Comedies","While living alone in a spooky town, a young g...","July 1, 2019",2019-07-01,2019,7
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,"November 1, 2019",2019-11-01,2019,11
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,Pg,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...","January 11, 2020",2020-01-11,2020,1
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,Tv-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,"March 2, 2019",2019-03-02,2019,3